* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bool-dark: black;
    --bool-addtask: #47adf1;
    --bool-addsection: #e2e5e7;
    --bool-edit: #45abea;
    --bool-Q1: #9c72e4;
    --bool-recr:#64c0a9;
    --bool-mob: #f29e33;
    --bool-sales: #b0c926;
    --bool-web: #d863a1;
    --bool-bg: #f6f8f9;
}

html{
    font-family: 'Roboto', sans-serif;
}

.page_header{
    background-color: white;
    background-size: 80px;
}

#logo{
    width: 70px;
    padding: 5px;
}

.page_title{
    font-size: 50px;
    vertical-align: top;
    display: inline-block;
    line-height: 60px;
}

hr{
    background-color: #e2e5e7;
}

body{
    background-color: var(--bool-bg);
}

main{
    background-color: white;
   /* margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    margin-bottom: 30px;*/
    width: 80%;
    margin: 30px auto;
    border-radius: 10px;
}

button{
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#add_task{
    background-color: var(--bool-addtask);
    color: white;
    border-color: var(--bool-addtask);
    border-radius: 3px;
    border-width: 0.5;
    padding: 4px;
    margin-left: 50px;
}

#add_section{
    background-color: white;
    color: var(--bool-addsection);
    border-color: var(--bool-addsection);
    border-radius: 3px;
    border-width: 0.5;
    padding: 4px;
}

section{
    margin: 30px;
}

div {
    padding: 10px;
}

.check{
    font-size: 10px;
    color: lightgreen;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid lightgreen;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.cross{
    font-size: 10px;
    color: red;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.edit {
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-edit);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}

.Q1{
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-Q1);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}

.recr{
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-recr);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}

.mob{
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-mob);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}

.web{
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-web);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}

.sales{
    color: white;
    font-size: 10px;
    display: inline-block;
    width: 60px;
    height: 20px;
    background-color: var(--bool-sales);
    border-radius: 30px;
    text-align: center;
    line-height: 20px;
}